.rojo{
    width: 200px;
    height: 200px;
    background-color: red;
    text-align: center;
}

.verde{
    width: 200px;
    height: 200px;
    background-color: green;
    text-align: center;
}

.azul{
    width: 200px;
    height: 200px;
    background-color: blue;
    text-align: center;
}